html, body {
	width:  100%;
	height: 100%;
	margin: 0px; 
	overflow: hidden;
	background-color: #000;
}

canvas {
	width: 800px;
	height: 640px;
	margin: 0px;
	position: absolute;
}

#maskdiv{
	margin-left: auto;
    margin-right: auto;
	position: relative; 
	width: 800px; 
	height: 640px; 
	overflow: hidden;
}